<h1><%= @event.name %></h1>

<div style="width:30%;display:inline-block;vertical-align:top;">
  <h4>My List:</h4>
  <ul>
    <% @user.wanted_gifts_for_event(@event.id).each do |gift| %>
      <li><a href="<%= gift.site_link %>"><%= gift.name %></a></li>
    <% end %>
  </ul>

  <a class="btn btn-primary" href="/events/<%= @event.slug %>/add/">Add to My List</a>
</div>

<div style="width:30%;display:inline-block;vertical-align:top;">
<h4>Gifts I've purchased so far:</h4>
  <ul>
    <% @user.gifted_gifts_for_event(@event.id).each do |gift| %>
      <li><a href="<%= gift.site_link %>"><%= gift.name %></a> for <%= gift.wanter.name %></li>
    <% end %>
  </ul>
</div>

<div style="width:30%;display:inline-block;vertical-align:top;">
  <h4>Other members lists:</h4>
  <ul>
    <% (User.all - [@user]).each do |user| %>
      <li><a href="/events/<%= @event.slug %>/list/<%= user.id %>/"><%= user.name %></a></li>
    <% end %>
  </ul>
</div>
